@model App.Models.EmployeeViewModel
@using App.Models

@{
    ViewBag.Title = "Add Employee";
    PositionsService RoleContainer = new PositionsService();
}

<div style="margin-top:10%;">
    <h2 class="merri-700">Append Employee</h2>
    <br />

    <div class="well col-md-6" style="border-radius:0px;">
        @using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
            <h4 class="merri-400">Manage them all in one click</h4>
            <br />
            @Html.Partial("EmployeeInputPartial")
}

        @section Scripts {
            @Scripts.Render("~/bundles/jq")
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
